[Unit]
Description=Named network namespace tool
JoinsNamespaceOf=systemd-netns@tool.service
After=syslog.target network.target
Before=hostapd.service
Before=dnsmasq.service

[Service]
Type=oneshot
RemainAfterExit=true

ExecStartPre=-/usr/bin/env ip netns delete tool

ExecStart=-/usr/bin/env ip netns add tool
ExecStart=-/usr/bin/env iw phy phy1 set netns name tool

ExecStart=-/usr/bin/env ip netns exec tool ip link set wlan1 up
ExecStart=-/usr/bin/env ip netns exec tool ip addr add 192.168.200.1/24 dev wlan1

ExecStop=-/usr/bin/env ip netns exec tool iw phy phy1 set netns 1
ExecStop=-/usr/bin/env ip netns del tool

[Install]
WantedBy=multi-user.target
WantedBy=network-online.target
